@model IEnumerable<Conference>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Conferences</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Conference" asp-action="Create" class="btn btn-primary">Create New Conference</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Conference Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Conference" asp-action="View" asp-route-id="@obj.Id">@obj.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>

