@using Microsoft.AspNetCore.Identity;
@using Conference_Management_System.Data;

@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome @UserManager.GetUserAsync(User).Result?.FullName</h1>
</div>
